<header class="header__container">
    <div class="container__title">
        <h1 class="title">
            Miku express
        </h1>
    </div>

    <div class="container__links">
        <a routerLink="/" routerLinkActive="active" class="link">Home</a>
        <a routerLink="/rastreio" routerLinkActive="active" class="link">Rastreamento</a>
        <a routerLink="/meuspacotes" routerLinkActive="active" class="link">Meus pacotes</a>
        <a href="/contato" routerLinkActive="active" class="link">Contato</a>
    </div>

    <div class="container__login">
        <a routerLink="/signin" routerLinkActive="active" class="link">Login</a>
    </div>
</header>
