@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* You can add global styles to this file, and also import other style files */
*, html, body{
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.btn-tamanho-maximo {
  width: 100%!important;
}

.input-tamanho-maximo {
  width: 100%!important;
}

.margin-btn-tabela {
  margin-left: 5px!important;
}
