.container__notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.title__notfound {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 117, 255, 1);
}

.p__notfound {
    font-size: 1.2rem;
    font-weight: 500;
}

.link__notfound {
    font-size: 1rem;
    color: #007bff;
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 500;
}

.link__notfound:hover {
    color: #0056b3;
    cursor: pointer;
}

.img__notfound {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}